@media (min-width: 992px){
	.container{
		width: 970px;
	}
	.md-20{
		width: 20%;
	}
	.md-47{
		width: 47%;
		padding-left: 0;
	}
	.md-33{
		width: 33%;
		padding-left: 30px;
	}
	.left-col, .right-col{
		padding-right: 10px;
		padding-left: 10px;
	}

}
@media (max-width: 991px){
	.header-right{
		display: inline-block;
	}
	.header-right p, .hotline{
		float: left;
	}
	.social{
		float: right;
		width: auto;
	}
	.header-right p{
		line-height: 30px;
	}
	.navbar-default .navbar-nav > li > a{
		padding-left: 7px;
		padding-right: 8px;
	}
	.products-list, .counseling{
		padding-right: 5px;
	}
	.news-list, .statistical{
		padding-left: 5px;
	}
	.prod-list, .news-menu{
		height: 372px;
	}
	.div-counseling{
		padding-left: 15px;
	}
	.carousel-inner > .item > img, .carousel-inner > .item > a > img{
		height: 350px;
	}
	#banner_l, #banner_r{
		display: none;
	}
}
@media (max-width: 767px){
	.partner{
		display: inline-block;
	}
	.partner-item{
		width: 16.666%;
		float: left;
	}
	.partner-item img{
		height: 45px;
	}
	.carousel-inner > .item > img, .carousel-inner > .item > a > img{
		height: 250px;
	}
	.products{
		display: inline-block;
	}
	.prod-item{
		width: 50%;
		float: left;
	}
	.content-bot .prod-item{
		width: 100%;
		float: none;
	}
	.navbar-default .navbar-nav > li > a{
		padding-left: 20px;
		padding-right: 20px;
	}
	.intro-content, .serv-list{
		height: auto;
	}
	.md-20{
		width: 20%;
		float: left;
	}
	.md-47{
		width: 80%;
		float: left;
	}
	.header-right p, .social{
		padding-left: 10px;
	}
}
@media (max-width: 550px){
	.partner-item{
		width: 25%;
	}
	.partner-item img{
		height: 47px;
	}
	.last-item{
		padding-right: 10px;
	}
	.carousel-inner > .item > img, .carousel-inner > .item > a > img{
		height: 200px;
	}
	.prod-sort-seemore{
		display: inline-block;
		float: none;
		margin-top: 10px;
	}
	.social{
		padding-left: 0;
	}
	.social, .md-20, .md-47{
		float: none;
		width: 100%;
	}
}
@media (max-width: 450px){
	.partner-item{
		width: 33.333%;
	}
	.partner-item img{
		height: 47px;
	}
	.carousel-inner > .item > img, .carousel-inner > .item > a > img{
		height: 150px;
	}
	.prod-item{
		width: 100%;
		float: none;
	}
}